body {
    font-family: Sans-serif, Arial;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#linha_topo {
    background-color: #e30013;
    padding: 10px;
    border: 0px;
    margin: 0px;
}

h1, p {
    color: #666;
    text-align: center;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 14px;
}

form {
    color: #666;
    border: 0px;
}

label {
    color: #666;
}

a {
    color: #666;
}